<mat-card>
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <h2>Add New Event</h2>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" />
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="!eventForm.valid">Create Event</button>
    </form>
  </mat-card>
  